<header class="masthead">
    <div class="container-fluid" id="test">
            <div id="carouselFeatured" class="carousel slide carousel-fade" data-ride="carousel" >
                    <ol class="carousel-indicators"></ol>
                    <div class="carousel-inner"></div>
                    <a class="carousel-control-prev" href="#carouselFeatured" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselFeatured" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
            </div> 
     
      
      
    </div>
  </header>

  <div class="row mb-1">
        <div class="col">
                <div class="card-group">
                        <div class="card m-1" >
                          <img class="card-img-top" src="https://bootstrap.news/source/img5.jpg" alt="Card image cap">
                          <div class="position-absolute p-2 p-lg-3 b-0 w-100 bg-shadow">
                                <!-- category -->  
                                <div class="d-flex flex-nowrap">
                                    <div class="CategoryDiv">
                                        <a class="p-2 badge badge-warning CategoryBadge" href="https://bootstrap.news/bootstrap-4-template-news-portal-magazine/">Lifestyle</a>
                                    </div> 
                                    <div class="userImg">
                                        <img src="https://www.famousbirthdays.com/headshots/robert-downey-jr-2.jpg">
                                    </div>                                     
                                </div>                                   
                                
                                <!--title-->
                                <a href="https://bootstrap.news/bootstrap-4-template-news-portal-magazine/">
                                    <h2 class="h5 text-white my-1">Should you see the Fantastic Beasts sequel?</h2>
                                </a>
                            </div>                               
                        </div>
                        <div class="card m-1">
                                <img class="card-img-top" src="https://bootstrap.news/source/img5.jpg" alt="Card image cap">
                                <div class="position-absolute p-2 p-lg-3 b-0 w-100 bg-shadow">
                                        <!-- category -->  
                                        <div class="d-flex flex-nowrap">
                                            <div class="CategoryDiv">
                                                <a class="p-2 badge badge-primary CategoryBadge" href="https://bootstrap.news/bootstrap-4-template-news-portal-magazine/">Lifestyle</a>
                                            </div> 
                                            <div class="userImg">
                                                <img src="https://www.famousbirthdays.com/headshots/robert-downey-jr-2.jpg">
                                            </div>                                     
                                        </div>                                   
                                        
                                        <!--title-->
                                        <a href="https://bootstrap.news/bootstrap-4-template-news-portal-magazine/">
                                            <h2 class="h5 text-white my-1">Should you see the Fantastic Beasts sequel?</h2>
                                        </a>
                                </div>                               
                        </div>
                        <div class="card m-1">
                                <img class="card-img-top" src="https://bootstrap.news/source/img5.jpg" alt="Card image cap">
                                <div class="position-absolute p-2 p-lg-3 b-0 w-100 bg-shadow">
                                        <!-- category -->  
                                        <div class="d-flex flex-nowrap">
                                            <div class="CategoryDiv">
                                                <a class="p-2 badge badge-success CategoryBadge" href="https://bootstrap.news/bootstrap-4-template-news-portal-magazine/">Lifestyle</a>
                                            </div> 
                                            <div class="userImg">
                                                <img src="https://www.famousbirthdays.com/headshots/robert-downey-jr-2.jpg">
                                            </div>                                     
                                        </div>                                   
                                        
                                        <!--title-->
                                        <a href="https://bootstrap.news/bootstrap-4-template-news-portal-magazine/">
                                            <h2 class="h5 text-white my-1">Should you see the Fantastic Beasts sequel?</h2>
                                        </a>
                                </div>                               
                        </div>
                        <div class="card m-1">
                                <img class="card-img-top" src="https://bootstrap.news/source/img5.jpg" alt="Card image cap">
                                <div class="position-absolute p-2 p-lg-3 b-0 w-100 bg-shadow">
                                        <!-- category -->  
                                        <div class="d-flex flex-nowrap">
                                            <div class="CategoryDiv">
                                                <a class="p-2 badge badge-danger CategoryBadge" href="https://bootstrap.news/bootstrap-4-template-news-portal-magazine/">Lifestyle</a>
                                            </div> 
                                            <div class="userImg">
                                                <img src="https://www.famousbirthdays.com/headshots/robert-downey-jr-2.jpg">
                                            </div>                                     
                                        </div>                                   
                                        
                                        <!--title-->
                                        <a href="https://bootstrap.news/bootstrap-4-template-news-portal-magazine/">
                                            <h2 class="h5 text-white my-1">Should you see the Fantastic Beasts sequel?</h2>
                                        </a>
                                </div>                               
                        </div>
            </div>
        </div>
    </div>
    
    <div class="row mb-5">
        <div class="col">
                <div class="card-group">
                        <div class="card m-1">
                          <img class="card-img-top" src="https://bootstrap.news/source/img5.jpg" alt="Card image cap">
                          <div class="position-absolute p-2 p-lg-3 b-0 w-100 bg-shadow">
                                <!-- category -->  
                                <div class="d-flex flex-nowrap">
                                    <div class="CategoryDiv">
                                        <a class="p-2 badge badge-warning CategoryBadge" href="https://bootstrap.news/bootstrap-4-template-news-portal-magazine/">Lifestyle</a>
                                    </div> 
                                    <div class="userImg">
                                        <img src="https://www.famousbirthdays.com/headshots/robert-downey-jr-2.jpg">
                                    </div>                                     
                                </div>                                   
                                
                                <!--title-->
                                <a href="https://bootstrap.news/bootstrap-4-template-news-portal-magazine/">
                                    <h2 class="h5 text-white my-1">Should you see the Fantastic Beasts sequel?</h2>
                                </a>
                            </div>                               
                        </div>
                        <div class="card m-1">
                                <img class="card-img-top" src="https://bootstrap.news/source/img5.jpg" alt="Card image cap">
                                <div class="position-absolute p-2 p-lg-3 b-0 w-100 bg-shadow">
                                        <!-- category -->  
                                        <div class="d-flex flex-nowrap">
                                            <div class="CategoryDiv">
                                                <a class="p-2 badge badge-primary CategoryBadge" href="https://bootstrap.news/bootstrap-4-template-news-portal-magazine/">Lifestyle</a>
                                            </div> 
                                            <div class="userImg">
                                                <img src="https://www.famousbirthdays.com/headshots/robert-downey-jr-2.jpg">
                                            </div>                                     
                                        </div>                                   
                                        
                                        <!--title-->
                                        <a href="https://bootstrap.news/bootstrap-4-template-news-portal-magazine/">
                                            <h2 class="h5 text-white my-1">Should you see the Fantastic Beasts sequel?</h2>
                                        </a>
                                </div>                               
                        </div>
                        <div class="card m-1">
                                <img class="card-img-top" src="https://bootstrap.news/source/img5.jpg" alt="Card image cap">
                                <div class="position-absolute p-2 p-lg-3 b-0 w-100 bg-shadow">
                                        <!-- category -->  
                                        <div class="d-flex flex-nowrap">
                                            <div class="CategoryDiv">
                                                <a class="p-2 badge badge-success CategoryBadge" href="https://bootstrap.news/bootstrap-4-template-news-portal-magazine/">Lifestyle</a>
                                            </div> 
                                            <div class="userImg">
                                                <img src="https://www.famousbirthdays.com/headshots/robert-downey-jr-2.jpg">
                                            </div>                                     
                                        </div>                                   
                                        
                                        <!--title-->
                                        <a href="https://bootstrap.news/bootstrap-4-template-news-portal-magazine/">
                                            <h2 class="h5 text-white my-1">Should you see the Fantastic Beasts sequel?</h2>
                                        </a>
                                </div>                               
                        </div>
                        <div class="card m-1">
                                <img class="card-img-top" src="https://bootstrap.news/source/img5.jpg" alt="Card image cap">
                                <div class="position-absolute p-2 p-lg-3 b-0 w-100 bg-shadow">
                                        <!-- category -->  
                                        <div class="d-flex flex-nowrap">
                                            <div class="CategoryDiv">
                                                <a class="p-2 badge badge-danger CategoryBadge" href="https://bootstrap.news/bootstrap-4-template-news-portal-magazine/">Lifestyle</a>
                                            </div> 
                                            <div class="userImg">
                                                <img src="https://www.famousbirthdays.com/headshots/robert-downey-jr-2.jpg">
                                            </div>                                     
                                        </div>                                   
                                        
                                        <!--title-->
                                        <a href="https://bootstrap.news/bootstrap-4-template-news-portal-magazine/">
                                            <h2 class="h5 text-white my-1">Should you see the Fantastic Beasts sequel?</h2>
                                        </a>
                                </div>                               
                        </div>
            </div>
        </div>